<section>
  </div>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>
          <i class="glyphicon glyphicon-list"></i> Products

        </h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="vm.search" placeholder="Search by Name or SKU only (case sensitive)" ng-change="vm.figureOutItemsToDisplay()" />
      </div>
      <a class="btn btn-primary pull-right" data-ui-sref="products.create">
        <i class="glyphicon glyphicon-plus"></i>
      </a>
    </div>
  </div>
  <table style="table-layout: fixed; width:100%">
    <tr>
      <td></td>
      <td style="width:10%; padding-left: 3%"><b>Price</b></td>
      <td><b>SKU</b></td>
      <td><b>Categories</b></td>
      <td style="width:10%"></td>
      <td style="width:10%; padding-left: 3%"><b>Stock</b></td>
    </tr>
    <tr></tr>
  </table>
  <div class="list-group">
    <a data-ng-repeat="product in vm.products | filter: vm.searchFilter " data-ui-sref="products.edit({productId: product._id})" class="list-group-item">
      <table style="table-layout: fixed; width:100%">
        <tr>
          <td>
            <h4 class="list-group-item-heading" data-ng-bind="product.productName"></h4>
            <span data-ng-bind="product.productDescription"></span>
          </td>
          <td style="width:10%; padding-left: 3%">
            $<span data-ng-bind="product.productPrice"></span>
          </td>
          <td>
            <span data-ng-bind="product._id"></span>
          </td>
          <td>
            <ul style="list-style: none; padding-left:0">
              <li data-ng-repeat="category in vm.allCategories" >
                <span data-ng-if="product.productCategories.indexOf(category._id) > -1" data-ng-bind="category.categoryName"></span>
              </li>
            </ul>
          </td>
          <td style="width:10%">
            <img ngf-src="product.productImgUrl" class="img-thumbnail" style="max-height:80px" ngf-drop>
          </td>
          <td style="width:10%; padding-left: 5%">
            <span data-ng-bind="product.qtyInStock"></span>
          </td>
        </tr>
      </table>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.products.$resolved && !vm.products.length">
    No products yet, why don't you <a data-ui-sref="products.create">create one</a>?
  </div>
</section>
